<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th>Company Name</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.id %></td>
        <td><%= coupon.title %></td>
        <td><%= coupon.code %></td>
        <td><%= coupon.company_name %></td>
        <td><%= coupon.created_at.to_s(:long) %></td>
        <td>
          <%= link_to coupon_vendor_coupon_path(coupon) do %>
            <button class="btn btn-primary">Show</button>
          <% end %>
          <%= link_to edit_coupon_vendor_coupon_path(coupon) do %>
            <button class="btn btn-warning">Edit</button>
          <% end %>
          <%= link_to coupon_vendor_coupon_path(coupon), method: :destroy, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-danger">Delete</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
